name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    tags: ["v*"]
  release:
    types: [published]

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTUP_MAX_RETRIES: 10

jobs:
  macos-x86_64:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: "Build wheels - x86_64"
        uses: PyO3/maturin-action@v1
        with:
          target: x86_64
          args: --release -i python${{ matrix.python-version }} --out dist
      - name: Upload wheels
        id: upload-macos-x86_64
        uses: actions/upload-artifact@v5
        with:
          name: wheels-macos-x86_64-${{ matrix.python-version }}
          path: dist

  macos-universal:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: "Build wheels - universal"
        uses: PyO3/maturin-action@v1
        with:
          args: --release -i python${{ matrix.python-version }} --target universal2-apple-darwin --out dist
      - name: Upload wheels
        id: upload-macos-universal
        uses: actions/upload-artifact@v5
        with:
          name: wheels-macos-universal-${{ matrix.python-version }}
          path: dist

  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        target:
          - x86_64-unknown-linux-gnu
          - i686-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: "Build wheels - linux"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: auto
          command: build
          args: --release -i python${{ matrix.python-version }} -o dist
      - name: Upload wheels
        id: upload-linux
        uses: actions/upload-artifact@v5
        with:
          name: wheels-linux-${{ matrix.python-version }}-${{ matrix.target }}
          path: dist

  linux-cross:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        platform:
          - target: aarch64-unknown-linux-gnu
            arch: aarch64
            maturin_docker_options: -e JEMALLOC_SYS_WITH_LG_PAGE=16
          - target: armv7-unknown-linux-gnueabihf
            arch: armv7
          - target: s390x-unknown-linux-gnu
            arch: s390x
          - target: powerpc64le-unknown-linux-gnu
            arch: ppc64le
          - target: powerpc64-unknown-linux-gnu
            arch: ppc64
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: "Build wheels - linux-cross"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          manylinux: auto
          docker-options: ${{ matrix.platform.maturin_docker_options }}
          args: --release -i python${{ matrix.python-version }} -o dist
      - name: Upload wheels
        id: upload-linux-cross
        uses: actions/upload-artifact@v5
        with:
          name: wheels-linux-cross-${{ matrix.python-version }}-${{ matrix.platform.target }}
          path: dist

  musllinux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        target:
          - x86_64-unknown-linux-musl
          - i686-unknown-linux-musl
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: "Build wheels - musllinux"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: musllinux_1_2
          args: --release -i python${{ matrix.python-version }} -o dist
      - name: Upload wheels
        id: upload-musllinux
        uses: actions/upload-artifact@v5
        with:
          name: wheels-musllinux-${{ matrix.python-version }}-${{ matrix.target }}
          path: dist

  musllinux-cross:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        platform:
          - target: aarch64-unknown-linux-musl
            arch: aarch64
            maturin_docker_options: -e JEMALLOC_SYS_WITH_LG_PAGE=16
          - target: armv7-unknown-linux-musleabihf
            arch: armv7
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: "Build wheels - musllinux-cross"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          manylinux: musllinux_1_2
          args: --release -i python${{ matrix.python-version }} -o dist
          docker-options: ${{ matrix.platform.maturin_docker_options }}
      - name: Upload wheels
        id: upload-musllinux-cross
        uses: actions/upload-artifact@v5
        with:
          name: wheels-musllinux-cross-${{ matrix.python-version }}-${{ matrix.platform.target }}
          path: dist

  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - linux
      - linux-cross
      - macos-x86_64
      - macos-universal
      - musllinux
      - musllinux-cross
    if: (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) || github.event_name == 'release'
    steps:
      - name: "Install uv"
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
      - uses: actions/download-artifact@v6
        with:
          pattern: wheels-*
          path: wheels
          merge-multiple: true
      - name: Publish to PyPI
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: uv publish -v wheels/*
